@model asistencia_rips_APP.Models.FormAsistenciaClass

@{
    ViewData["Title"] = "Editar Asistencia";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Consec" class="control-label"></label>
                <input asp-for="Consec" class="form-control" readonly />
                <span asp-validation-for="Consec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres_contacto" class="control-label"></label>
                <input asp-for="Nombres_contacto" class="form-control" />
                <span asp-validation-for="Nombres_contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos_contacto" class="control-label"></label>
                <input asp-for="Apellidos_contacto" class="form-control" />
                <span asp-validation-for="Apellidos_contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_contacto" class="control-label"></label>
                <input asp-for="Datos_contacto" class="form-control" />
                <span asp-validation-for="Datos_contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAsistenciaId" class="control-label"></label>
                <select asp-for="TipoAsistenciaId" class="form-control" asp-items="ViewBag.TipoAsistenciaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TemaId" class="control-label"></label>
                <input id="TemaN" name="TemaN" class="form-control" required>
                <input type="hidden" id="TemaId" name="TemaId" class="form-control" required>
            </div>

            <div class="form-group">
                <label asp-for="Acciones" class="control-label"></label>
                <input asp-for="Acciones" class="form-control" />
                <span asp-validation-for="Acciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compromisos" class="control-label"></label>
                <input asp-for="Compromisos" class="form-control" />
                <span asp-validation-for="Compromisos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firma" class="control-label"></label>
                <input asp-for="Firma" class="form-control" type="hidden" />
                <span asp-validation-for="Firma" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EstadoTramiteId" class="control-label"></label>
                <select asp-for="EstadoTramiteId" class="form-control" asp-items="ViewBag.EstadoTramiteId"></select>
                <span asp-validation-for="EstadoTramiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="UserId"></label>
                <input class="form-control" value="@ViewBag.fullname" readonly />
                <input class="form-control" asp-for="UserId" type="hidden" value="@ViewBag.iduser" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_Active" /> @Html.DisplayNameFor(model => model.is_Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="history.back()">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    
    
    $("#TemaId").val(@ViewBag.TemaId);
    $("#TemaN").val("@ViewBag.TemaN").trigger("change");
    var options = {

        url: function (name) {
            return "/api/tema/listar?name=" + name;
        },
        getValue: "nombre",
        ajaxSettings: {
            dataType: "json",
            method: "GET",
            data: {
                dataType: "json"
            }
        },
        list: {
            onSelectItemEvent: function () {
                var index = $("#TemaN").getSelectedItemData().id;
                //console.log(index)
                $("#TemaId").val(index)//.trigger("change");
            }

        },
        placeholder: "Seleccione un tema",
        requestDelay: 400
    };

    $("#TemaN").easyAutocomplete(options);
   
</script>
}
