@model asistencia_rips_APP.Models.ConfigCorreoClass

@{
    ViewData["Title"] = "Borrar Configuración Correo";
}

<h1>@ViewData["Title"]</h1>

<h3>Esta seguro de borrar el registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Port)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseSSL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseSSL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.is_Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.is_Active)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al lisatdo</a>
    </form>
</div>
