@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de Sesión";
}


<div class="row">
    <div class="col-md-12 col-sm-12" align="center">
        <div class="card shadow-lg p-3 mb-5 bg-white border-primary mb-3" style="width: 35rem; background-image: url('https://images.pexels.com/photos/1478524/pexels-photo-1478524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); ">
            <!--<div class="card shadow-lg p-3 mb-5 bg-white border-primary mb-3" style="width: 35rem; background-image: url('@Url.Content("~/images/tema.png")');">-->

            <div class="card-body ">
                <h1 class="card-title">@ViewData["Title"]</h1>
                <section>
                    <form id="account" method="post">

                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.userName"></label>
                            <input asp-for="Input.userName" class="form-control" />
                            <span asp-validation-for="Input.userName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">¿Olvido su contraseña?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
                            </p>
                            <!--<p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Enviar correo de confirmación</a>
                            </p>-->
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
            <!--<div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>Use another service to log in.</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
        </div>-->
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
