@model asistencia_rips_APP.Models.EstadoTramiteClass

@{
    ViewData["Title"] = "Borrar estado tramite";
}

<h1>@ViewData["Title"]</h1>

<h3>A continuación el borrado es logico, ¿desea continuar con el proceso?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al listado</a>
    </form>
</div>
